[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:ucb-bar/esp-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:ucb-bar/esp-opcodes.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = git@github.com:ucb-bar/esp-tests.git
[submodule "riscv-llvm"]
	path = riscv-llvm
	url = https://github.com/ucb-bar/riscv-llvm.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = git@github.com:ucb-bar/esp-gnu-toolchain.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
